@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --color-primary: #0BA5EC;
  --color-secondary: #EE46BC;
  --color-brand-black: #0A0D12;
  --color-brand-white: #FDFDFD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #0A0D12;
  font-family: var(--font-sans);
}

* {
  box-sizing: border-box;
}